<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.nodomain.scrobbled</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/scrobble.app/scrobbled/scrobbled</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>mobile</string>
	<key>KeepAlive</key>
	<true/>
	<key>Nice</key>
	<string>10</string>
</dict>
</plist>
